
@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
}
<div class="content-wrapper">
    <section class="content" style="padding-top:30px">
        <!-- Default box -->
        <div class="card">
            <div class="card-header">
                <div class="row">
                    <div class="col-6 text-end text-danger text-uppercase">
                        TEN
                    </div>
                    <div class="col-6 text-right">
                        LINK
                    </div>
                </div>
            </div>
            <div class="card-body">
                NOI DUNG
            </div>
        </div>
    </section>
</div>