﻿@{
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Login</title>
    <link href="~/Theme/css/login.css" rel="stylesheet" />
</head>
<body>
    <div class="login-page">
        <div class="form">
            <form class="login-form" method="post">
                <input type="text" placeholder="Username" name="user" />
                <input type="password" placeholder="Password" name="pass" />
                <p class="text-bg-danger">@TempData["error"]</p>
                <button type="submit">login</button>
                <p class="message">Not registered? <a href="@Url.Action("Register","Dashboard")">Create an account</a></p>
            </form>
        </div>
    </div>

    <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
</body>
</html>