.main-content {
    padding-top:50px;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

.menu-content-left {
    width: 25%;
}

.menu-content-right {
    width: 70%;
}

.menu-categories {
    list-style: none;
    padding: 0;
}

.menu-categories li {
    margin-bottom: 10px;
}

.category-link {
    text-decoration: none;
    color: #333;
    display: block;
    padding: 5px;
    border: 1px solid #ddd;
    border-radius: 5px;
    margin-bottom: 5px;
}

.menu-items {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.menu-item-content {
    width: calc(33.33% - 20px); /* 3 items per row with margin */
    margin-bottom: 20px;
    padding: 15px;
    border: 1px solid #ddd;
    border-radius: 5px;
    box-sizing: border-box;
    text-align: center;
}

.menu-item-content img {
    width: 200px;
    height: 200px;
    object-fit: cover; /* Chống ảnh bị méo */
    border-radius: 5px;
    margin-bottom: 10px;
}

.item-details {
    text-align: center;
}

.price {
    font-weight: bold;
    color: #e44d26;
}
