
@{
    ViewBag.Title = "Giới thiệu";
    Layout = "~/Views/Shared/_LayoutRestaurant.cshtml";
}
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,700,800" rel="stylesheet">

    <link href="~/Theme/css/bootstrap.css" rel="stylesheet" />
    <link href="~/Theme/css/animate.css" rel="stylesheet" />
    <link href="~/Theme/css/owl.carousel.min.css" rel="stylesheet" />
    <link href="~/Theme/css/magnific-popup.css" rel="stylesheet" />

    <link href="~/Theme/fonts/ionicons/css/ionicons.css" rel="stylesheet" />
    <link href="~/Theme/fonts/fontawesome/css/font-awesome.min.css" rel="stylesheet" />
    <link href="~/Theme/fonts/flaticons/font/flaticon.css" rel="stylesheet" />

    <!-- Theme Style -->
    <link href="~/Theme/css/style.css" rel="stylesheet" />
</head>
<body>
    <section class="home-slider-loop-false  inner-page owl-carousel">
        <div class="slider-item" style="background-image: url('/Theme/img/media/hero_2.jpg');">

            <div class="container">
                <div class="row slider-text align-items-center justify-content-center">
                    <div class="col-md-8 text-center col-sm-12 element-animate">
                        <h1>About Us</h1>

                    </div>
                </div>
            </div>

        </div>

    </section>

    <div class="section container">
        <div class="row">
            <div class="col-lg-6">
                <p><img src="~/Theme/img/media/hero_2.jpg" alt="" class="img-fluid"></p>
                <p class="mb-5"><img src="~/Theme/img/media/hero_1.jpg" alt="" class="img-fluid"></p>
            </div>

            <div class="col-lg-6 pl-2 pl-lg-5">
                <h2 class="mb-5">History</h2>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eius est soluta blanditiis velit doloremque corrupti aliquid ducimus consectetur ea nobis dolorem, id quibusdam praesentium consequuntur modi eligendi, sunt suscipit ullam iure nesciunt tempore. Itaque placeat, libero aliquam odio ex voluptas.</p>
                <p>Vel vitae, assumenda blanditiis nemo in vero reprehenderit asperiores distinctio exercitationem aliquid, quam velit explicabo neque. Sapiente provident sequi omnis itaque eaque voluptatum vel. Accusamus deserunt atque eligendi mollitia voluptates eum libero, ratione id labore. Magnam porro dolorem aspernatur, dolor?</p>

                <p class="mb-5">Vel vitae, assumenda blanditiis nemo in vero reprehenderit asperiores distinctio exercitationem aliquid, quam velit explicabo neque. Sapiente provident sequi omnis itaque eaque voluptatum vel. Accusamus deserunt atque eligendi mollitia voluptates eum libero, ratione id labore. Magnam porro dolorem aspernatur, dolor?</p>

            </div>
        </div>
    </div>

    <section class="section element-animate">

        <div class="clearfix mb-5 pb-5">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-md-12 text-center heading-wrap">
                        <h2>Chefs</h2>
                        <span class="back-text">Our Chefs</span>
                    </div>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="major-caousel js-carousel-1 owl-carousel">
                    <div>
                        <div class="media d-block media-custom text-center">
                            <a href="adoption-single.html"><img src="~/Theme/img/media/person_1.jpg" alt="Image Placeholder" class="img-fluid"></a>
                            <div class="media-body">
                                <h3 class="mt-0 text-black">Mellisa Howard</h3>
                                <p class="lead">CEO, Co-Founder</p>
                            </div>
                        </div>
                    </div>
                    <div>
                        <div class="media d-block media-custom text-center">
                            <a href="adoption-single.html"><img src="~/Theme/img/media/person_2.jpg" alt="Image Placeholder" class="img-fluid"></a>
                            <div class="media-body">
                                <h3 class="mt-0 text-black">Mike Richardson</h3>
                                <p class="lead">CEO, Co-Founder</p>
                            </div>
                        </div>
                    </div>
                    <div>
                        <div class="media d-block media-custom text-center">
                            <a href="adoption-single.html"><img src="~/Theme/img/media/person_3.jpg" alt="Image Placeholder" class="img-fluid"></a>
                            <div class="media-body">
                                <h3 class="mt-0 text-black">Charles White</h3>
                                <p class="lead">CEO, Co-Founder</p>
                            </div>
                        </div>
                    </div>

                    <div>
                        <div class="media d-block media-custom text-center">
                            <a href="adoption-single.html"><img src="~/Theme/img/media/person_1.jpg" alt="Image Placeholder" class="img-fluid"></a>
                            <div class="media-body">
                                <h3 class="mt-0 text-black">Mellisa Howard</h3>
                                <p class="lead">CEO, Co-Founder</p>
                            </div>
                        </div>
                    </div>
                    <div>
                        <div class="media d-block media-custom text-center">
                            <a href="adoption-single.html"><img src="~/Theme/img/media/person_2.jpg" alt="Image Placeholder" class="img-fluid"></a>
                            <div class="media-body">
                                <h3 class="mt-0 text-black">Mike Richardson</h3>
                                <p class="lead">CEO, Co-Founder</p>
                            </div>
                        </div>
                    </div>
                    <div>
                        <div class="media d-block media-custom text-center">
                            <a href="adoption-single.html"><img src="~/Theme/img/media/person_3.jpg" alt="Image Placeholder" class="img-fluid"></a>
                            <div class="media-body">
                                <h3 class="mt-0 text-black">Charles White</h3>
                                <p class="lead">CEO, Co-Founder</p>
                            </div>
                        </div>
                    </div>


                </div>
            </div>
        </div>

    </section>
</body>
